<h1>Registration message</h1>

---

<p>From: <%= @from_email %></p>

<p>Contact name: <%= @contact %>

<p>Publisher: <%= @publisher %>

<p>Website: <%= @website %>

<p>Details:</p>
<%= simple_format @details %>