<%# Metadata %>
<% @page_title = @author.name %>
<% @meta_description = "Biography and selected works of #{@author.name}" %>

<%# Page class %>
<% @page_id = 'author' %>

<%# Content %>
<div class="small-title">Author</div>

<h1><%= @author.name %></h1>
<h2><%= link_to @author.country.name, country_path(@author.country) %></h2>

<%# Use goodreads photo, content photo, or default in that order %>
<div class="photo rounded-circle">
    <% if @photo.present? %>
        <%= image_tag @photo, alt: @author.name %>
    <% elsif @author.photo.present? %>
        <%= image_tag @author.photo_url(:thumb), alt: @author.name %>
    <% else %>
        <%= image_tag 'default_writer.jpg', alt: 'default image' %>
    <% end%>
</div>

<%# if author has a goodreads id then use that data, otherwise use data from form %>
<% if @author.goodreads_id.present? && @no_result != 'author not found' %>
    <div class="content">
        <% if @dob.present? %>
            <div class="dob">
                <%= content_tag(:label, "Born:") %>
                <%= format_date_of_birth(@dob) %>
            </div>
        <% end%>
        <% if @bio.present? %>
            <div class="bio">
                <%= sanitize @bio, tags: %w(br) %>
            </div>
        <% end %>

        <div class="goodreads">
            <p><%= link_to 'View author on Goodreads', @goodreads_link, target: "_blank" %></p>
        </div>
    </div>

<% else %>
    <div class="content">
        <% if @author.dob.present? %>
            <div class="dob">
                <label>Born:</label>
                <%= @author.dob %>
            </div>
        <% end %>

        <% if @author.bio.present? %>
            <div class="bio">
                <%= @author.bio %>
            </div>
        <% end %>
    </div>
<% end %>

<%# Show all books that are linked to author %>
<% if @author.books.present? %>
    <div class="small-title">Books</div>
    <div id="book-display" class="d-flex flex-wrap justify-content-around">
        <% @books.each do |book| %>
            <% if book.cover_image.present? %>
                <div><%= image_tag book.cover_image_url(:original), alt: " #{book.title}", class: "img-fluid" %>
                <%= book.title %> </div>
            <% else %>
                <div><%= image_tag 'default_book.jpg', alt: 'default image',  class: "img-fluid" %>
                <p><%= book.title %></p></div>
            <% end %>
        <% end %>
    </div>
<% end %>

<% if current_user.try(:admin?) %> 
    <%= link_to 'Edit', edit_author_path(@author) %>
<% end %>