<%= form_with(model: publisher, local: true) do |form| %>
  <% if publisher.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(publisher.errors.count, "error") %> prohibited this publisher from being saved:</h2>

      <ul>
      <% publisher.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :publisher_name %>
  </div>

  <div class="field">
    <%= form.label :contact_person %>
    <%= form.text_field :contact_person, id: :publisher_contact_person %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :publisher_description %>
  </div>

  <div class="field">
    <%= form.label :website %>
    <%= form.text_field :website, id: :publisher_website %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
