<%# Metadata %>
<% @page_title = @book.title %>
<% @meta_description = "Summary of #{@book.title}" %>

<%# Page class %>
<% @page_id = 'book' %>

<%# Content %>

<div class="small-title">Book</div>

<h1><%= @book.title %></h1>

<h3 class="text-center"><%= link_to @book.author.name, @book.author %></h3>
<p class="text-center"><%= link_to @book.author.country.name, @book.author.country %></p>

<div class="row books-body">

  <div class="col-sm-4">

    <% if user_signed_in? %>
      <div id="favourite_book">
        <%= render 'favourite_books/button', book: @book %>
      </div>
    <% end %>
  
    <% if @book.cover_image.present? %>
      <%= image_tag @book.cover_image_url(:original), alt: " #{@book.title}", class: "img-fluid" %>
    <% else %>
      <%= image_tag 'default_book.jpg', alt: 'default image' %>
    <% end %>

    <div class="user_buttons">
      <% if user_signed_in? %>
        <div id="reading_list">
            <%= render 'reading_lists/button', book: @book %>
        </div>

        <div id="have_read">
            <%= render 'reads/button', book: @book %>
        </div>
      <% end %>
    </div><!-- end user buttons -->
  </div><!--end col-sm-4 -->

  <div class="col-sm-8">
    <p><label>First published: </label> <%= @book.published_year %></p>
    <p><label>Original language: </label> <%= @book.original_language %></p>
    
    <%# if result is found from goodreads %>
    <% if @no_result != "Page not found" %>
      <p class="api_link"><label> <%= link_to 'Goodreads average rating:', @goodreads_link, target: "_blank" %></label> <%= @average_rating %> / 5.0 <span>(from <%= @ratings_count %> ratings)</span></p>
      <% if @description.present? %>
        <div class="description">
            <%# strip all tags from result other than <br> %>
            <%= sanitize @description, tags: %w(br) %>
        </div>
      <% end %>
    <% end%>
  </div><!-- end col-sm-8 -->
</div> <!-- end row books-body -->

<% if current_user.try(:admin?) %> 
  <%= link_to 'Edit', edit_book_path(@book) %>
<% end %>