<%# Metadata %>
<% @page_title = @book.title %>
<% @meta_description = "Summary of #{@book.title}" %>

<%# Page class %>
<% @page_id = 'book' %>

<%# Content %>

<div class="small-title">Book</div>

<h1><%= @book.title %></h1>

<h3 class="text-center"><%= link_to @book.author.name, @book.author %></h3>
<p class="text-center"><%= link_to @book.author.country.name, @book.author.country %></p>

<div class="row books-body">
  <% if @book.cover_image.present? %>
    <div class="col-sm-4">
      <%= image_tag @book.cover_image_url(:original), alt: " #{@book.title}", class: "img-fluid" %>
    </div>
  <% end %>

  <div class="col-sm-8">
    <p><label>First published: </label> <%= @book.published_year %></p>
    <p><label>Original language: </label> <%= @book.original_language %></p>
    <% if @no_result != "Page not found" %>
      <p class="api_link"><label> <%= link_to 'Goodreads average rating:', @goodreads_link, target: "_blank" %></label> <%= @average_rating %> / 5.0 <span>(from <%= @ratings_count %> ratings)</span></p>
      <% if @description.present? %>
        <div class="description">
            <%= sanitize @description, tags: %w(br) %>
        </div>
      <% end %>
    <% end%>
  </div>

</div>


<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
