<!DOCTYPE html>
<html>
  <head>
    <title>World Reader | <%= @page_title || "Admin area" %> </title>
    <meta name="description" content= "<%= @meta_description %>">
    
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', 'https://fonts.googleapis.com/css?family=Corben:400,700|Open+Sans:300,400,400i,600,700' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="<%= @page_id %>" >

  <%# JQuery for autocomplete select on large dropdowns %>
    <script>
      $(document).ready(function() {
      $('.autocomplete').select2();
      });
    </script>

    <div class="main container-fluid">
    
      <% if notice.present? || alert.present? %>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      <% end %>

      <%# User links %>
      <div id="user_nav">
        <% if user_signed_in? %>
          <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
        <% else %>
          <%= link_to 'Register', new_user_registration_path %> or <%= link_to 'Sign in', new_user_session_path %>
        <% end %>
      </div>

      <!-- Navigation -->

      <nav class="navbar navbar-expand-lg navbar-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav">
            <% if current_user.try(:admin?) %> 
              <li class="nav-item"><%= link_to "Admin", "/admin", class: "nav-link" %></li>
            <% end %>
            <li class="nav-item <%= 'active' if current_page?(root_path) %>"><%= link_to "Home", root_path, class: "nav-link" %></li>
            <li class="nav-item <%= 'active' if current_page?(regions_path) %>"><%= link_to "Regions", regions_path, class: "nav-link"%></li>
            <li class="nav-item <%= 'active' if current_page?(countries_path) %>"><%= link_to "Countries", countries_path, class: "nav-link"%></li>
            <% if policy(Author).index? %> 
              <li class="nav-item <%= 'active' if current_page?(authors_path) %>"><%= link_to "Authors", authors_path, class: "nav-link"%></li>
            <% end %>
            <%# hide menu item if user not authorized %>
            <% if policy(Book).index? %> 
              <li class="nav-item <%= 'active' if current_page?(books_path) %>"><%= link_to "Books", books_path, class: "nav-link" %></li>
            <% end %>
          </ul>
        </div>
      </nav>


      <header>
        <% if current_page?(root_path) %>
          <div class="site-title">The Literary Map</div>
          <div class="tagline">Travelling the world, one book at a time</div>
        <% else %>
          <div class="site-title"><a href="/">The Literary Map</a></div>
        <% end %>      
      </header>

      <% if current_page?(root_path) %>
        <main>
          <%= yield %>
        </main>
      <% else %>
        <main class="container">
          <%= yield %>
        </main>
      <% end %> 
    
      <footer>
        <a class="button" href="/users/sign_up">Join us</a>
        <h4>Share your reading journey</h4>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</P>
      </footer>

    </div>
  </body>
</html>
